:root {
    --main-color: #071c35;
    --secondary-color: rgb(237, 237, 237);
    --main-color-trans: #071c3581;
    --placeholder-clr: #272727;
    --quick-links-bgclr: #dfdfdf;
    --shadow-color: rgb(197, 197, 197);
    --border-color: rgb(180, 180, 180);
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inner-container {
    /* padding: 1rem 0; */
}

.navbar {
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.com-logo {
    height: 1.2rem;
}

.com-logo:hover {
    cursor: pointer;
}

.nav-links-ul {
    display: flex;
    list-style-type: none;
}

.nav-links-ul li {
    padding: 1rem;
    font-weight: 600;
    font-size: 16px;
}

.nav-links-ul li:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* banner */
.banner {
    background-image: url(./GREENVILLE_ES_HOMEPAGE_BANNER_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-inner {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-trans);
}

.search-container {
    width: 50vw;
}

.search-form {
    display: flex;
    background-color: white;
    padding: 0 1rem;
    border-radius: 22px;
    outline: none;
    height: 47px;
}

.search-form:focus {
    outline: none !important;
}

.greet-user {
    font-size: 50px;
    text-align: center;
    padding: 1rem;
    color: var(--secondary-color);
}

.search-ip {
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: unset;
    padding: 0.6rem 0;
}

.search-ip::placeholder {
    color: var(--placeholder-clr);
}

.search-ip::-moz-placeholder {
    color: var(--placeholder-clr);
}

.search-ip::-ms-input-placeholder {
    color: var(--placeholder-clr);
}

.search-ip:-ms-input-placeholder {
    color: var(--placeholder-clr);
}

.search-ip:focus {
    outline: none !important;
}

.search-btn {
    border: none;
    background-color: unset;
}

/* quick-links */
.site-quick-links {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.ql-item {
    height: 10rem;
    width: 8.5rem;
    border-radius: 6px;
    background-color: var(--quick-links-bgclr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.ql-item:hover {
    filter: drop-shadow(0 0 2px var(--shadow-color));
    cursor: pointer;
}

.ql-item i {
    font-size: 30px;
    color: var(--main-color);
}

/*  */
.docnevents-container {
    box-sizing: border-box;
}

.sub-inner {
    padding: 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
}

.docs-container {
    width: 60%;
}

.events-container {
    width: 40%;
}

.container-heading {
    color: var(--main-color);
    font-size: 27px;
    font-weight: 600;
}

.docs-container .block {
    margin-top: 1rem;
}

.docs-container .search-form {
    width: 90%;
    border: 0.5px solid var(--main-color);
}

.search-items {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    box-sizing: border-box;
}

.search-item {
    width: 31%;
    height: 6rem;
    border-radius: 10px;
    background-color: var(--quick-links-bgclr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.search-item:hover {
    filter: drop-shadow(0 0 2px var(--shadow-color));
    cursor: pointer;
}

/* Events */
.events {
    margin-top: 5px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid var(--quick-links-bgclr);
    border-radius: 10px;
}

.events ul {
    list-style-type: none;
    padding: 0 10px;
}

.events ul>li {
    display: flex;
    margin: 20px 0;
}

.cal-div {
    width: 140px;
}

.events .top {
    border-radius: 10px 10px 0 0;
    width: 100%;
    background-color: var(--main-color);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.cal-div .bottom {
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 4px;
}

.cal-div .date {
    font-size: 22px;
}

.cal-div .day {
    font-size: 14px;
    color: rgb(66, 66, 66);
    font-weight: 600;
}

.event-text {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: black;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.event-heading {
    font-size: 16px;
}

.event-time {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.event-time i {
    margin-right: 10px;
}

.event-time span {
    margin: 0 10px;
}

.announcements-inner {
    box-sizing: border-box;
    padding: 1rem 3rem
}

/* awb */
.awb-container {
    padding: 1rem 3rem;
}

.awb-inner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.awb-item {
    width: 32.3%;
    height: 30rem;
}

/* emp list */
.emp-list {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0.2rem 1rem;
    height: 26rem;
    overflow-y: scroll;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.emp-list li {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
}

.emp-list li:not(:last-of-type) {
    border-bottom: 1px solid rgb(180, 180, 180);
}

.emp-pic {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
}

.emp-pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.emp-other {
    padding-left: 1rem;
    width: 90%;
}

.new-associate .emp-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.des {
    display: flex;
    justify-content: space-between;
}

.des p {
    color: rgb(104, 104, 104);
}

.des>div {
    display: flex;
    align-items: center;
}

.des>div i {
    margin: 0 10px;
}

.des>div i:hover {
    cursor: pointer;
}

.des>div i:first-of-type {
    font-size: 18px;
}


/* birthdays */
.bday-slider {
    height: 26rem;
    margin-top: 1rem;
    border: 1px solid var(--border-color);
    padding: 0 1rem;
    overflow: hidden;
    border-radius: 10px;
}

.bday-slider>div {
    width: 100%;
    height: 100%;
}

.bday-slider>div img {
    width: 100%;
    height: 25rem;
    border-radius: 10px;
}

.bday-slide-item {
    display: flex !important;
    align-items: center;
    padding: 0.7rem 0;
}

.bday-slide-item {
    border-bottom: 1px solid rgb(180, 180, 180) !important;
}

.bday-slide-item .emp-pic {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    border-radius: 50%;
}

.bday-slide-item .emp-pic>img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.bday-slide-item .emp-name {
    font-size: 14px !important;
    font-weight: 600;
}

.bday-slide-item .emp-designation {
    color: rgb(83, 83, 83);
    font-size: 15px;
}

/*  */
.ar-container {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
}

.ar-itm {
    height: 24.5rem !important;
    box-sizing: border-box;
}

.ar-itm .text {
    line-height: 22px;
}

.ann-slider .slick-dots {
    bottom: -23px !important;
}

.ar-slider .slick-dots {
    bottom: -16px !important;
}

.block-img {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.block-img img {
    height: 100%;
    width: 90%;
    border-radius: 3px;
}



.ar-container .block-img img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
    border: 1px solid black;
}

.emp-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.emp-des {
    font-size: 16px;
    
}

.ar-container .block-img {
    margin-top: 5px;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.ar-container .sub-heading {
    margin: 3px 0;
    font-size: 18px;
    font-weight: 600;
    color: #1f1e1e;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* announcements */
.ann-slider .slick-dots {
    bottom: -23px !important;
}

.ann-itm{
    margin: 0 1rem !important;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 10px;
}

.ann-itm .sub-heading {
    font-size: 18px;
    font-weight: 600;
    color: #1f1e1e;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 0;
}

.ann-itm .text {
    height: 7rem;
    overflow: hidden;
    font-size: 16.3px;
    padding: 5px;
    line-height: 20px;
}

.ann-itm .block-img {
    margin-top: 5px;
    height: 11rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

@media (max-width:1176px) {
    .ql-item {
        width: 7.5rem;
        gap: 0.8rem;
    }
}